.idea
img/svg/facebook.svg
img/svg/image.svg
img/svg/instagram.svg
img/svg/twitter.svg
img/svg/Velo logo.svg
img/svg/velo2.svg
img/svg/velo3.svg
img/svg/velo4.svg
img/svg/velo5.svg
img/svg/velo6.svg
css/normalize.css
css/simple-grid.scss